html
  head
    title My Personal Library
    meta(name='description', content='A cool thing made with Glitch')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/public/home.css')
    link(rel="stylesheet" type="text/css" href="w3style.css")
    script(src='/public/client.js')

  body
    div.LibraryHeading 
        div.container
        h1.title Welcome to My Personal Library   
                 
        div.container2  
        div.navbar
          a(href='/Profile') My Books  
          div.mybooks
             

              
            
          
       
     
 
    
    
        
          